body {
    background-color: silver;
}

h1,h2,h3,b {
	font-family: "Comic Sans MS";
}
h1{
	color: orange;
    text-align: center;
    text-shadow: 3px 2px brown;
    background-color: darkgray;
    
}
h1.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
h1.tit{
	position: fixed;
    top: 0;
    te
}
p{
	margin:0; 
	display: inline;
}
li,dd {
		color: dimgray;
		background-color: white;
		padding-left: 5px;
		}
dd{
	max-width:80%;


}
ul{
	margin-top: 12px;
	list-style-position: inside;
	background-color:#ff9999;
	padding: 10px;
	max-width: 80%;
	margin: auto;
}		
img{
	align-items: center;
}
b{
	color:brown;
	border-left: 6px solid red;
	border-radius: 3px;
    background-color: lightgrey;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: underline;
}
table, th,td{
	border: 1px dotted black;
}
tr:nth-child(odd){
	background-color: aliceblue;
}
tr:nth-child(even){
	background-color: cornsilk;
}
tr:hover{
	background-color: gold;
}
caption{
	font-size: 25px;
	text-align: center;
}
img{
	width:75%;
	padding-left: 5px;
	height: auto;
}
a:link{
	color:white;
	background-color: black;
	text-align: center;
	padding: 2px;
	display: inline-block;
}
a:hover{
	color:black;
	background-color: brown;
	text-align: center;
	padding: 2px;
	display: inline-block;
}
a:visited{
	color:black	;
	background-color: orange ;
	text-align: center;
	padding: 2px;
	display: inline-block;
}
a:active{
	color:black;
	background-color: green;
	text-align: center;
	padding: 2px;
	display: inline-block;
}
footer{
	position: fixed;
	bottom: 0;
}