.d1{
	height: 50%;
	width: 50%;
	background-color: red;
	position: fixed;
	top: 0;
	left: 0;

}
.d2{
	height: 50%;
	width: 50%;
	left: 0;
	background-color: black;
	position: fixed;
	bottom: 0;
}
.d3{
	height: 50%;
	width: 50%;
	background-color: orange;
	position: fixed;
	top: 0;
	right: 0;

}
.d4{
	height: 50%;
	width: 50%;
	right: 0;
	background-color: blue;
	position: fixed;
	bottom: 0;
}