body{
	background-color: black;
	max-width: 1900px;

}
.a1{
	max-height: 45%;
	max-width: 1900px;
	padding: 10px;
	top: 0;
}
.a2{
	max-height: 45%;
	max-width: 1900px;
	padding: 10px;
	bottom:0;
}
.d1{
	height: 24vw;
	width: 24vw;
	background-color: red;
	position: fixed;
	top: 5%;
	left: 2%;
}
.d2{
	height: 20vw;
	width: 20vw;
	background-color: red;
	position: fixed;
	top: 10%;
	left: 30%;
}
.d3{
	height: 10vw;
	width: 10vw;
	background-color: red;
	position: fixed;
	top: 20%;
	left: 52%;
}
.d4{ 
	height: 7vw;
	width: 7vw;
	background-color: red;
	position: fixed;
	top: 23%;
	left: 65%;
}
.d5{
	height: 7vw;
	width: 7vw;	
	background-color: red;
	position: fixed;
	bottom: 23%;
	left: 2%;
}
.d6{
	height: 10vw;
	width: 10vw;
	background-color: red;
	position: fixed;
	bottom: 20%;
	left: 15%;
}
.d7{
	height: 20vw;
	width: 20vw;
	background-color: red;
	position: fixed;
	bottom: 10%;
	left: 27%;
}
.d8{
	height: 24vw;
	width: 24vw;
	background-color: red;
	position: fixed;
	bottom: 5%;
	left:55%;
}
