body{
	background-color: #333333;
}
.integrante{
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.b-img-center{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
	height: auto;
	max-width: 40%;
}


<h3 class="w3-border-bottom w3-border-grey w3-padding-16 b-center">Acerca de nosotros</h3>
    <p class="b-center">Grupo Métrico cuenta con amplia experiencia en diseño, construcción, supervisión y comercialización de bienes inmuebles. Nuestra trayectoria y colaboración de proyectos nos ha llevado a realizar proyectos considerables en escala y complejidad a nivel nacional. Distinguiéndonos entre nuestros clientes y socios gracias a una atención personalizada, fomentando el futuro desarrollo de proyectos en conjunto.
    <br>
    Somos un equipo multidisciplinario, capacitado y profesional con una visión conjunta de trabajo y sin reservas a trabajar de la mano con especialistas en distintas áreas.
    <br>
    Buscando estar a la vanguardia tanto en prácticas como en herramientas, para así poder entregar el mejor resultado final de un proceso cuidad, llevado a cabo con entusiasmo y pasión en cada una de sus etapas.
    <br>
    Buscamos continuar expandiendo nuestra trayectoria y experiencia como organización sólida y eficiente, por medio de innovación, calidad y servicio. Distinguiendo las necesidades de cada proyecto, facilitando su materialización.
    </p>
  </div>
  <h3 class="w3-border-bottom w3-border-grey w3-padding-16 b-center">Integrantes</h3>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <a href="#" onClick="MyWindow=window.open('mkn_jca.html','MyWindow',width=400,height=200); return false;"><img src="jca.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt= "Juan Carlos Altamirano"></a>
      <h3 class="b-center">Juan Carlos Altamirano</h3>
      <p class="w3-opacity b-center">CEO y fundador</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>